/* Cursor laranja */
#pulse {
    font-size: 30px;
    color: rgb(0, 110, 255);
    animation-name: periodicfading;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
}

@keyframes periodicfading {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        opacity: 0.1;
    }
}

.alerta-replaceme {
    background-color: rgb(183, 5, 5);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    animation-name: periodicfading;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
}


.funky-bookmarks {
    width: 100%;
    height: 20px;
    background-color: var(--primary-title-color);
    color: var(--text-color-light);
    border-radius: 5px;
    animation-name: periodicfading;
    animation-duration: 3.0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0s;
    text-align: center;
}


/* user options */
#user-options,
#user-options-2 {
    display: flex;
    justify-content: end;
    padding-top: 20px;
    color: var(--secondary-title-color);
    font-weight: bold;
}

#wantalerts-radio-option,
#wantalerts-radio-option-2 {
    position: absolute;
    font-size: 30px;
    margin-top: -5px;
    margin-right: -5px;
    margin-left: -5px;
    color: rgb(104, 1, 1);
    z-index: 3;
}

#wantalerts-radio-option-bg,
#wantalerts-radio-option-bg-2 {
    position: relative;
    background-color: #fff;
    width: 30px;
    height: 20px;
    z-index: 2;
    margin-right: -5px;
    margin-left: -5px;
    border-radius: 50%;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    background-clip: content-box;
}

.mix-toggle-0,
.mix-toggle-1 {
    width: 50px;
    border-radius: 25px;
    height: 20px;
    z-index: 1;
    cursor: pointer;
}

.mix-toggle-0 {
    background-color: rgb(253, 135, 135);
    transition-duration: .5s;
    display: flex;
    justify-content: left;
}

.mix-toggle-1 {
    background-color: rgb(44, 214, 44);
    transition-duration: .5s;
    display: flex;
    justify-content: right;
}

/*########## Grid 2.0 */

.app-grid {
    background-image: url(../img/app-bg-w.png);
    background-size: 2%;
    min-height: 100vh;
}

.app-grid>div {
    padding: 0px;
}

.menu-nav-top-left {
    text-align: left;
    padding-left: 20px;
}

/*########### Live preview         */
#helpcenter-preview {
    padding-top: 40px;
}

.display-preview {
    background-color: #000;
    overflow-y: auto;
    max-height: 100vh;
    overflow-x: clip;
}

#helpcenter-preview a,
#helpcenter-preview a:hover {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

/* Cabeçalho HelpCenter */
.header-hc {
    padding-top: 20px;
    background-color: rgb(20, 123, 133);
    height: 90px;
}

.header-hc img {
    padding-left: 16px;
    margin-top: -2px;
}

.head-slogan {
    font-size: 13px;
    color: #fff;
    text-align: right;
    padding-right: 20px !important;
    padding-top: 30px;
    letter-spacing: 0px;
}

.head-slogan span {
    color: rgb(11, 46, 110);
}

/* Body HelpCenter */
.text-body-hc {
    min-height: 81vh;
}

#main-div {
    padding-top: 40px;
    padding-bottom: 15px;
}

/* Rodapé HelpCenter */
.footer-hc {
    background-color: rgb(60, 38, 223);
    height: 94px;
}

.footer-hc img {
    padding-left: 25px;
    padding-top: 20px;
}

.hc-preview {
    background-color: #111;
    padding: 0 !important;
    color: #fff !important;
    min-height: 100vh;
}

/** Estilos utilizados em tópicos de manual HelpCenter  **/
.alerta {
    width: 100%;
    background-color: rgb(224, 224, 224);
    line-height: 1.5;
    float: left;
    text-align: justify;
    border-radius: 5px;
    margin: 30px 0px;
}

.alerta-titulo {
    width: 59%;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    font-size: 16px;
    float: left;
    font-style: italic;
}

.alerta-contido {
    font-size: 14px;
    margin: 20px 50px 20px;
    float: left;
}

.dica {
    width: 100%;
    background-color: rgb(255, 225, 189);
    line-height: 1.5;
    float: left;
    border-radius: 5px;
    margin: 30px 0px;
    color: #000
}

.dica-titulo {
    width: 59%;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    font-size: 16px;
    float: left;
    font-style: italic;
}

.dica-contido {
    font-size: 14px;
    margin: 20px 50px 20px;
    float: left;
}

.novoalerta {
    width: 100%;
    line-height: 1.5;
    float: left;
    border-radius: 5px;
    margin: 30px 0px;
    color: #000;
}

.novoalerta-titulo {
    margin: 25px 50px 20px 50px;
    font-size: 18px;
    float: left;
    font-weight: bold;
    width: 100%;
}

.novoalerta-contido {
    font-size: 15px;
    margin: 0px 35px 20px 35px;
    float: left;
}

.novoalerta-titulo>i {
    padding-right: 10px;
}

.alerta-notas {
    background-color: rgb(255, 225, 189);
}

.alerta-dicas {
    background-color: rgb(255, 248, 200);
}

.alerta-info {
    background-color: rgb(232, 239, 249);
}

.boas-praticas {
    background-color: rgb(210, 251, 200);
}

.alerta-relaciona {
    background-color: rgb(245, 245, 245);
}

.seccao-phcgo {
    background: rgb(55, 55, 55);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

h1.manuais {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
}

h2.manuais {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

h3.manuais {
    font-size: 18px;
    text-transform: none;
    padding: 5px 15px;
}

a.manuais {
    color: rgb(198, 203, 65) !important;
    font-size: 15px !important;
    font-weight: 600;
}

a.manuais:hover {
    text-decoration: none;
}

#user-info>div:first-child,
#user-info>div>span {
    color: var(--secondary-title-color);
}

#user-info>div:nth-child(2) {
    color: rgb(20, 123, 133);
}

#user-stats>div>div {
    color: var(--secondary-title-color);
}

#user-pic {
    box-shadow: 2px 2px #111, 4px 4px rgb(255, 215, 0);
    border: 1px solid rgb(20, 20, 20);
}

#colapsables-wrapper a.manuais {
    color: #3934BE !important;

}