


/*########### Live preview         */
#helpcenter-preview {
    padding-top: 40px;
}

.display-preview {
    background-color: #fff;
}




/* Cabeçalho HelpCenter */
.header-hc {
    padding-top: 20px;
    background-color: #EB8475;
    height: 90px;
}

.header-hc img {
    padding-left: 16px;
    margin-top: -2px;
}

.head-slogan {
    font-size: 13px;
    color: #fff;
    text-align: right;
    padding-right: 20px !important;
    padding-top: 30px;
    letter-spacing: 0px;
}

.head-slogan span {
    color: #F4CC91;
}

/* Body HelpCenter */
.text-body-hc {
    min-height: 80vh;
}

#main-div {
    padding-top: 40px;
    padding-bottom: 15px;
}

/* Rodapé HelpCenter */
.footer-hc {
    background-color: #C3751B;
    height: 94px;
}

.footer-hc img {
    padding-left: 25px;
    padding-top: 20px;
}

.hc-preview {
    background-color: #fff;
    padding: 0 !important;
    color: #000 !important;
}

/** Estilos utilizados em tópicos de manual HelpCenter  **/
.alerta {
    width: 100%;
    background-color: rgb(224, 224, 224);
    line-height: 1.5;
    float: left;
    text-align: justify;
    border-radius: 5px;
    margin: 30px 0px;
}

.alerta-titulo {
    width: 59%;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    font-size: 16px;
    float: left;
    font-style: italic;
}

.alerta-contido {
    font-size: 14px;
    margin: 20px 50px 20px;
    float: left;
}

.dica {
    width: 100%;
    background-color: rgb(255, 225, 189);
    line-height: 1.5;
    float: left;
    border-radius: 5px;
    margin: 30px 0px;
    color:000;
}

.dica-titulo {
    width: 59%;
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 50px;
    font-size: 16px;
    float: left;
    font-style: italic;
}

.dica-contido {
    font-size: 14px;
    margin: 20px 50px 20px;
    float: left;
}

.novoalerta {
    width: 100%;
    line-height: 1.5;
    float: left;
    border-radius: 5px;
    margin: 30px 0px;
}

.novoalerta-titulo {
    margin: 25px 50px 20px 50px;
    font-size: 18px;
    float: left;
    font-weight: bold;
    width: 100%;
}

.novoalerta-contido {
    font-size: 15px;
    margin: 0px 35px 20px 35px;
    float: left;
}

.novoalerta-titulo>i {
    padding-right: 10px;
}

.alerta-notas {
    background-color: rgb(255, 225, 189);
}

.alerta-dicas {
    background-color: rgb(255, 248, 200);
}

.alerta-info {
    background-color: rgb(232, 239, 249);
}

.boas-praticas {
    background-color: rgb(210, 251, 200);
}

.alerta-relaciona {
    background-color: rgb(245, 245, 245);
}

.seccao-phcgo {
    background: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

h1.manuais {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
}

h2.manuais {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

h3.manuais {
    font-size: 18px;
    text-transform: none;
    padding: 5px 15px;
}

a.manuais {
    color: #3934BE !important;
    font-size: 15px !important;
    font-weight: 600;
}

a.manuais:hover {
    text-decoration: none;
}

