#manuals-modal {
    min-height: 100vh;
    background-color: #eee;
    background-image: url('../img/manuals-bg-w.png');
    background-attachment: fixed;
}

#my-manuals-wrapper {
    padding-bottom: 5vh; 
} 

#modal-container {
    background: var(--primary-title-color);
    width: 80%;
    padding-bottom: 25px;
    margin: auto;
    border-radius: 10px;
}

#modal-container>thead>th {
    font-size: 16px;
    color: var(--text-color-light);
    height: 50px;
    border-bottom: 2px solid var(--text-color-light);
}


#modal-container>tbody>tr {
    color: var(--text-color-dark);
}

#modal-container>tbody>tr>td>span {
    padding-top: 5px;
    padding-bottom: 5px;
}

#modal-container>tbody>tr>td>span {
    vertical-align: bottom;
}

#modal-container>tbody>tr>td:nth-child(3):hover {
    color: var(--success-color);
    transition-duration: 500ms;
    cursor: pointer;
}

#modal-container>tbody>tr>td:last-child:hover {
    color: var(--alert-color);
    transition-duration: 500ms;
    cursor: pointer;
}

#modal-container i {
    background: var(--text-color-light);
    padding: 5px;
    border-radius: 25%;
    margin-bottom: 1px;
}

.manual-par {
    background-color: rgba(255, 255, 255, 0.4);
}

.manual-impar {
    background-color: rgba(255, 255, 255, 0.5);
}

.manual-par:hover,
.manual-impar:hover {
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}


#modal-container>thead>th:first-child,
#modal-container>tbody>tr>td:first-child {
    width: 80%;
    padding-left: 30px;
    height: 30px;
}

#modal-container>thead>th:nth-child(2),
#modal-container>tbody>tr>td:nth-child(2) {
    width: 9%;
    text-align: right;
}

#modal-container>thead>th:nth-child(3),
#modal-container>tbody>tr>td:nth-child(3) {
    width: 3%;
    text-align: center;
    padding-left: 10px;
}


#modal-container>thead>th:last-child,
#modal-container>tbody>tr>td:last-child {
    width: 3%;
    text-align: center;
    padding-right: 30px;
}

#savemanual-container {
    padding: 20px 10% 60px 10%;
    display: flex;
    align-items: end;
}

#savemanual-container>.col-sm-2 {
    margin-bottom: 29px;
}

#savemanual-container h1 {
    padding-left: 5%;
    color: var(--primary-title-color);
}

#savemanual-container>div>input {
    border-radius: 5px;
    width: 95%;
    margin-left: 5%;
}

#close-myManuals-wrapper {
    padding-right: 4%;
}

pre {
    white-space: normal;
}

#contida-wrapper {
    padding-left: 50px;
    color: var(--text-color-dark);
    padding-top: 10px;
}