/*###########    Globais     ###########*/

:root {
    --primary-title-color: gold;
    --secondary-title-color: rgb(81, 63, 255);
    --background-color: #000;
    --text-color-dark: #000;
    --text-color-light: #fff;
    --alert-color: red;
    --success-color: green;
    --border-picker: inset 3px rgba(255, 255, 255, 0.5);
    --border-picker-active: inset 3px var(--primary-title-color);
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

@font-face {
    font-family: 'Neutrif Pro';
    src: local('Neutrif Pro Regular'), local('Neutrif-Pro-Regular'),
        url('../fonts/NeutrifPro-Regular.woff2') format('woff2'),
        url('../fonts/NeutrifPro-Regular.woff') format('woff'),
        url('../fonts/NeutrifPro-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px !important;
    font-family: 'Neutrif Pro' !important;
    background: var(--background-color) !important;
    color: var(--text-color-dark) !important;
    overflow-x: clip;
}

.no-display {
    display: none !important;
}

.no-opacity {
    opacity: 0 !important;
}

.alert-label {
    color: var(--alert-color) !important;
}

.gold {
    color: var(--primary-title-color) !important;
}


/*###########    Landing     ###########*/

#loading-wrapper {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: var(--background-color);
    overflow-y: clip;
}

#loading-title,
#welcome-text {
    padding-top: 10px;
    justify-self: center;
    letter-spacing: 5px;
}

#loading-title {
    color: var(--primary-title-color);
}

/** hotfix para a troca dos gifs. **/
.margin-animation-complete {
    margin-left: -160%;
}

#loading-gif,
#loading-gif-red {
    justify-self: center;
    width: 278px;
    height: 142px;
    background-attachment: local;
}

#loading-gif {
    background-image: url('../img/mi.gif');
    position: relative;
    bottom: -100%;
    z-index: 2;
}

#loading-gif-red {
    background-image: url('../img/mi-red.gif');
    z-index: 1;
}

/* velocidade fadein gif + titulo */
.animate__animated.animate__fadeIn {
    /*bootstrap overide*/
    --animate-duration: 1.5s !important;
}

#login-wrapper {
    margin-top: -68.5%;
    width: 350px;
    margin-left: 60%;
}

#login-wrapper input,
#login-wrapper span {
    width: 100%;
}

/* labels */
#login-wrapper span {
    color: var(--text-color-light);
    font-size: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* inputs */
#login-wrapper input {
    margin-bottom: 20px;
}

/* show password toggle */
#show-password {
    color: var(--text-color-dark);
    position: relative;
    top: -52px;
    left: 317px;
    font-size: 22px;
    padding: 4px;
    background: var(--primary-title-color);
    border-radius: 25%;
    border: solid 4px var(--background-color);
}

#show-password:hover,
.show-password-active {
    cursor: pointer;
    background: var(--secondary-title-color) !important;
    color: var(--text-color-light) !important;
}

/*login btn*/
#login-btn {
    width: 100%;
    background-color: var(--primary-title-color) !important;
    margin-top: -50px;
    color: var(--text-color-dark);
}

/* cookie checkbox wrapper */
#cookie {
    width: 100%;
    text-align: center;
    color: var(--text-color-light);
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cookie>span {
    padding-right: 5%;
}

#cookie>div {
    display: inline-block;
}

#cookie-checkbox {
    font-size: 22px;
    vertical-align: sub;
}

#cookie-checkbox:hover {
    cursor: pointer;
}

/*###########     Editor     ###########*/

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Cabeçalho */
.header {
    min-height: 330px;
    background: var(--background-color);
    background-image: url('../img/app-bg.png');
    background-size: 2%;
}

/* primeiro div, para dar espaçamento do topo */
.header>div {
    padding-top: 10px;
}

/* estilo das textareas do cabeçalho do editor (principal + hilite.me)*/
.header textarea {
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: transparent;
    color: var(--text-color-light);
    background-image: url('../img/mi.png');
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.headControls {
    padding-top: 5px;
    padding-bottom: 10px;
}

.headControls2 {
    padding-top: 10px;
    text-align: center;
}


/*###########   Textboxes    ###########*/


#textbox-wrapper {
    padding-top: 22px;
}
/* textbox - adicionar border para contraste no tema light */ 
#textbox-wrapper > div > div {
    border: 2px solid #ccc;
    margin-top: -4px;
}
/* ajustamento de margem para todas as textboxes */
.header .novoalerta {
    margin-top: 0px;
}
/* div da textbox */
.helpcenter-textbox {
    cursor: pointer;
    opacity: 0.8;
    text-align: left !important;
}
/* hover efects */
.helpcenter-textbox:hover {
    opacity: 1
}
.helpcenter-textbox:hover .novoalerta {
    box-shadow: 2px 2px var(--background-color), 4px 5px var(--primary-title-color) !important;
    transition-duration: 250ms;
}


/*###########     Icons      ###########*/


.icon-row-wrapper {
    padding-right: 5px;
}
.phcgo-icon {
    font-size: 35px;
    color: var(--text-color-light);
    text-align: center;
    padding-bottom: 20px;
    cursor: pointer;
    text-shadow: 1px 1px var(--background-color);
}
.phcgo-icon:hover>span {
    color: var(--primary-title-color) !important;
    font-size: 35px;
    text-shadow: 1px 1px var(--background-color);
    transition-duration: 150ms;
}
.icon-sub-row-1 {
    padding-right: 0 !important;
    padding-left: 30px !important;
    padding-bottom: 0px !important;
}
.icon-sub-row-2 {
    padding-left: 0 !important;
    padding-right: 30px !important;
}
#color-picker {
    padding-top: 15px;
    text-align: center;
}
.color-pick {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    background-clip: padding-box;
    margin-left: 5px;
    margin-right: 5px;
    opacity: .4;
    border: var(--border-picker);
}
/* checkmark */
.color-pick>i {
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    margin-top: 20%;
    opacity: 0;
}
/* checkmark opacity */
.selected-color {
    opacity: 1;
}
.selected-color>i {
    opacity: 1;
    color: var(--primary-title-color);
    font-size: 18px;
}
#icon-color-2.selected-color>i,
#icon-color-5.selected-color>i {
    color: var(--text-color-dark);
}
.color-pick:hover {
    cursor: pointer;
    opacity: 1;
    transition-duration: 200ms;
    border: var(--border-picker-active);
}
#icon-color-1 {background-color: #000000;}
#icon-color-2 {background-color: #e0e0e0;}
#icon-color-3 {background-color: #1a237e;}
#icon-color-4 {background-color: #b70505;}
#icon-color-5 {background-color: #ff8f00;}
#icon-color-6 {background-color: #004d40;}


/*###########    Buttons     ###########*/

.phc-buttons {
    padding-top: 5px;
}

.botao {
    text-align: center;
    padding-top: 25px;
    cursor: pointer !important;
    width: 20% !important;
}

.botao:hover button,
.botao:hover div {
    transition-duration: 250ms;
    box-shadow: 1px 1px var(--background-color), 2px 3px var(--primary-title-color) !important;
}

#theme-picker {
    padding-top: 26px;
    text-align: center;
}

.theme-pick {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    background-clip: padding-box;
    margin-left: 5px;
    margin-right: 5px;
    opacity: .4;
    border: var(--border-picker);
}

.theme-pick>i {
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    margin-top: 20%;
    opacity: 0;
}

.selected-theme {
    opacity: 1;
}

.selected-theme>i {
    opacity: 1;
    color: var(--primary-title-color);
    font-size: 18px;
}

#theme-4.selected-theme>i {
    color: var(--text-color-dark);
}

.theme-pick:hover {
    cursor: pointer;
    opacity: 1;
    transition-duration: 200ms;
    border: var(--border-picker-active);
}

#theme-1 {
    background-color: #1a237e;
}

#theme-2 {
    background-color: #004d40;
}

#theme-3 {
    background-color: #000000;
}

#theme-4 {
    background-color: #e0e0e0;
}


/*########### Listas & Tabelas ###########*/


#preview-list-row {
    color: var(--text-color-light);
    min-height: 80px;
    padding: 10px 0px;
}

#tabelas-wrapper {
    text-align: center;
}

#header-listas,
#header-tabelas {
    text-align: center;
    color: var(--text-color-light);
    padding-bottom: 20px;
    font-size: 20px;
}

#tipo-lista-span {
    display: block;
    text-align: left;
    color: var(--text-color-light);
    padding-left: 2px;
    font-size: 14.5px;
}

#num-itens-span {
    display: block;
    text-align: right;
    color: var(--text-color-light);
    padding-right: 2px
}

#num-itens-input,
#tipo-lista-dropdown,
#tipo-titulo-dropdown {
    width: 100%;
}

#cria-tabela-btn-div {
    padding-top: 20px;
}

#num-linhas-span,
#num-colunas-span,
#cabecalho-span {
    display: block;
    color: var(--text-color-light);
}

#num-linhas-input {
    width: 35%
}

#num-colunas-input {
    width: 35%
}

#want-links-span {
    color: var(--text-color-light);
    display: inline-block;
    padding: 10px 10px 10px 0px;
}

/* Row wrapper do preview + links + criarlista */
#listas-wrapper>div:nth-child(4) {
    padding-top: 10px;
}

#listas-wrapper>div:nth-child(4)>div:nth-child(2) {
    text-align: center;
}

.novo-separador {
    text-align: center;
}

.novo-separador>span {
    font-size: 20px;
    color: var(--text-color-light);
    padding: 10px 0px;
    display: block;
}

#cria-tabela-checkbox-wrapper {
    padding-top: 30px;
    color: var(--text-color-light);
}

#cria-tabela-checkbox-wrapper span {
    padding-left: 5px;
    padding-right: 20px;
}

#import-table-btn {
    padding-top: 15px;
}

#preview-list-row {
    color: var(--text-color-light);
    text-align: center;
}

.nova-imagem {
    padding-top: 10px;
    color: var(--text-color-light);
}

#upload-form {
    display: flex;
    justify-content: center;
    padding-bottom: 14px;
}

#imageb64-span {
    font-size: 20px;
    display: block;
    padding: 10px 0px;
}

#imagem-centrada-span {
    padding-right: 30px;
}


/*########## Títulos & Ligações ##########*/

.nova-ligacao-btn-col {
    padding-top: 20px;
}

#preview-heading-row {
    color: var(--text-color-light);
    padding: 10px 0px;
    min-height: 60px;
}

#gerador-links-h1 {
    text-align: center;
    padding-bottom: 20px;
}

#preview-heading-row>* {
    padding: 0px;
    margin: 0px;
}

.gerador-links-wrapper {
    color: var(--text-color-light);
}

.gerador-links-wrapper>div>input {
    width: 90%;
    border-radius: 5px;
    color: var(--text-color-dark);
}

.gerador-links-wrapper .col-md-7 {
    display: flex;
}

#gerador-titulos {
    color: var(--text-color-light);
    font-size: 20px;
    text-align: center;
}

#gerador-titulos select {
    color: var(--text-color-dark);
}

.gerador-links-wrapper .col-md-12 {
    font-size: 20px;
}

#hilite-wrapper {
    text-align: center;
}

#hilite-subwrapper {
    font-size: 20px;
    color: var(--text-color-light);
    padding-bottom: 20px;
}

#hilite-textarea {
    min-height: 150px !important;
    font-size: 12px;
}

#hilite-checkboxes-row {
    padding: 10px 0px;
    color: var(--text-color-light);
}

/* .btn-light {
    background-color: #aaa;
    border-color: #999;
}

.btn-light:hover {
    background-color: #888;
    border-color: #777;
} */