
@font-face {
    font-family: 'Neutrif Pro';
    src: local('Neutrif Pro Regular'), local('Neutrif-Pro-Regular'),
        url('../fonts/NeutrifPro-Regular.woff2') format('woff2'),
        url('../fonts/NeutrifPro-Regular.woff') format('woff'),
        url('../fonts/NeutrifPro-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-size:14.5px!important;
    font-family:'Neutrif Pro'!important;
    background:#111;
    color: #000;
    line-height:1.42857143;
    overflow-x: clip;   
}

.no-display {
    display:none!important;
}


/** Cabeçalho live editor **/ 

.header {
    min-height: 25vh;
    background:#333;
    background-image: url('../img/header-bg.png');;
    background-size: 3%;

}

.header > div {
    padding-top:10px;
}

.header .novoalerta {
    margin-top:60px;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header > div > div > .col-md-5 {
    padding-top:20px;
}

textarea {
    width:100%;
    min-height:175px;
}

.mini-item {
    font-size:35px;
    color:#fff;
    text-align: center;
    padding: 10px 5px;
}

/** Live preview **/

.display-preview {
    min-height:80vh;
}

    /** Cabeçalho HelpCenter **/
    .header-hc {
        padding-top:20px;
        background-color:#EB8475;
        height:90px;
    }

    .header-hc img {
        padding-left:16px;
        margin-top:-2px;
    }

    .head-slogan {
        font-size:13px;
        color:#fff;
        text-align: right;
        padding-right:20px!important;
        padding-top:30px;
        letter-spacing: 0px;
    }

    .head-slogan span {
        color:#F4CC91;
    }

    /** Body HelpCenter **/

    .text-body-hc {
        min-height:80vh;
    }

    #main-div {
        padding-top:40px;
        padding-bottom:15px;
    }

    /** Rodapé HelpCenter **/

    .footer-hc {
        background-color:#C3751B;
        height:94px;
    }

    .footer-hc img{
        padding-left:25px;
        padding-top:20px;
    }

    .hc-preview {
        background-color:#fff;
        padding: 0 !important;
        color:#000!important;
    }

/** Outros estilos **/

    /** Cursor no preview **/

    #pulse {
        font-size:30px; 
        color:rgb(255, 145, 0);
        animation-name: periodicfading;
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-delay: 0s;
    }
    
    @keyframes periodicfading {
        0% {
            opacity: 0.1;
        }
        50% {
            opacity: 1.0;
        }
        100% {
            opacity: 0.1;
        } 
    }


/** Estilos HelpCenter  **/

.alerta {
    width: 100%; 
    background-color: rgb(224, 224, 224); 
    line-height: 1.5; float: left; 
    text-align: justify; 
    border-radius: 5px;
    margin: 30px 0px;}
    
.alerta-titulo {
    width: 59%; 
    margin-left: 50px; 
    margin-top: 20px; 
    margin-right: 50px; 
    font-size: 16px; float: left; 
    font-style: italic;}
    
.alerta-contido {
    font-size: 14px; 
    margin: 20px 50px 20px; 
    float: left;}
    
    
.dica {
    width: 100%; 
    background-color: rgb(255, 225, 189); 
    line-height: 1.5; 
    float: left;  
    border-radius: 5px;
    margin: 30px 0px;}
    
.dica-titulo {
    width: 59%; 
    margin-left: 50px; 
    margin-top: 20px; 
    margin-right: 50px; 
    font-size: 16px; 
    float: left; 
    font-style: italic;}
    
.dica-contido {
    font-size: 14px; 
    margin: 20px 50px 20px; 
    float: left; }
    
    
a.glink{
        color:#3934BE!important;
        font-size:15px!important;
    }
    
a.manuais {
    color:#3934BE!important;
    font-size:15px!important;
}

.novoalerta {
        width: 100%; 
        line-height: 1.5;
        float: left;
        border-radius: 5px;
        margin: 30px 0px
    }
    
.novoalerta-titulo {
        margin: 25px 50px 20px 50px;
        font-size: 18px;
        float: left;
        font-weight:bold;
        width: 100%;
    }
    
.novoalerta-contido {
        font-size: 15px;
        margin: 0px 35px 20px 35px;
        float: left;
        }
    
.novoalerta-titulo > i {padding-right:10px;}
    
.alerta-notas {background-color: rgb(255, 225, 189);}
.alerta-dicas {background-color: rgb(255, 248, 200);}
.alerta-info {background-color: rgb(232, 239, 249);}
.boas-praticas {background-color: rgb(210, 251, 200);}
.alerta-relaciona {background-color: rgb(245, 245, 245);}

.seccao-phcgo {
    background:rgb(245, 245, 245);
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;}
    
h1.manuais {font-size:28px;text-transform:uppercase;font-weight:bold;}
h2.manuais {font-size:20px;font-weight: bold;margin:0;padding:10px;}
h3.manuais {font-size:18px;text-transform:none;padding:5px 15px;}
    

/** Butões PHC GO **/


@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/HKGrotesk-Medium.woff2') format('woff2'),
        url('../fonts/HKGrotesk-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


/* 
.phcgo-mainform-primary-btn {
    background-color: #ff8f00;
    color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    cursor: default;
    outline: none;
    border: none;
    display: inline-block;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 400;
}

.phcgo-mainform-secondary-btn {
    background-color: #fff;
    color: #000;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    cursor: default;
    outline: none;
    border: none;
    display: inline-block;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 400;
}

.phcgo-action-active-btn {
    
    box-shadow:  0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12);
    color: #1a237e ;
    border: 1px solid rgba(0,0,0,.12);
    box-sizing: border-box;
    cursor: default;
    outline: none;
    display: inline-block;
    text-align: center;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    background: transparent;
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
}

.phcgo-action-danger-btn {
    box-shadow:  0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12);
    color: #b70505 ;
    border: 1px solid rgba(0,0,0,.12);
    box-sizing: border-box;
    cursor: default;
    outline: none;
    display: inline-block;
    text-align: center;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    background: transparent;
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
}


.phcgo-action-inactive-btn {
    box-shadow:  0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12);
    color: rgba(0,0,0,.26);
    border: 1px solid currentColor;
    box-sizing: border-box;
    cursor: default;
    outline: none;
    display: inline-block;
    text-align: center;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    background: transparent;
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
}

.phcgo-processing-primary-btn {
    box-shadow:  0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12);
    border: 0;
    color: #fff;
    box-sizing: border-box;
    cursor: default;
    outline: none;
    display: inline-block;
    text-align: center;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    background: #1976d2;
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
}
.phcgo-processing-secondary-btn {
    box-shadow:  0 0 0 0 rgba(0,0,0,.2),0 0 0 0 rgba(0,0,0,.14),0 0 0 0 rgba(0,0,0,.12);
    color: #1976d2;
    border: 1px solid rgba(0,0,0,.12);
    box-sizing: border-box;
    cursor: default;
    outline: none;
    display: inline-block;
    text-align: center;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    background: transparent;
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
} */

#colapsables-modal{
    padding-top:20px;
}

#modal > .row > .col-md-3 {
    margin-top:-45px;
}

#modal > div > .phc-buttons > div {
    text-align:center;
    padding-top:25px;
}

.header > div > div > div > button {
	margin-top: 5px;
}

#colapsables-modal > div > div > div > input {
    width:100%;
    padding:5px 10px;
    margin: 5px;
    padding: 2px 2px;
}

#colapsables-modal > div > div > div > textarea {
    min-height:200px;
    width:100%;
    padding:5px 10px;
    margin: 5px;
    padding: 2px 2px;
}

#colapsables-modal > div > div > div > span {
    display: block;
    width: 100%;
    padding: 20px 50px 5px 30px;
}

#colapsables-modal > div > div > div > button {
    margin-left: 2%;
}

#colapsables-modal > div > div > .col-md-7 > div:first-child {
    background-color: rgb(245, 245, 245);
    margin-bottom:10px;
    font-size:20px;
    font-weight: bold;
    margin:0;
    padding:10px 0px 10px 30px;
    text-align:left;}
  
.phc-go-chip {
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    letter-spacing: normal;
    color:#fff;
    font-family: 'HK Grotesk';
}

.green-chip {background-color: #139b25 !important;}
.gray-chip {background-color: #707070  !important;}
.orange-chip {background-color: #ff8f00  !important;}
.red-chip {background-color: #b70505 !important;}